<!DOCTYPE html>
<html>
  <title>生命密码盘</title>
<head>
  <meta charset="UTF-8">
  <style>
    html, body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
    #app{
      width: 100%;
      height: 100%;
    }
    .title {
      padding: 20px;
      text-align: center;
      font-weight: bold;
    }
    .num {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 10px;
      height: 10px;
      padding: 10px;
      margin: 10px;
      background: #ff6600;
      border-radius: 4px;
    }
    .star {
      border: 4px solid #ffcc99;
    }
    .life-head {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .life-head-middle {
      width: 20%;
      text-align: center;
      border-bottom: 1px solid;
    }
    .life-head__sub {
      width: 40%;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid;
    }
    .life-body {
      display: flex;
      justify-content: center;
    }
    .life-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .life-footer__birthday {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .birthnum {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 10px;
      height: 10px;
      padding: 10px;
      margin: 10px;
    }
    .life-body__senven {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .life-body__main, .life-body__middle, .life-body__footer {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid;
      padding: 0 20px;
    }
    .life-body__main {
      width: 25%;
      flex-direction: column;
    }
    .life-body__middle {
      width: 50%;
    }
    .life-body__footer {
      width: 90%;
    }
    .life-body__middle__l, .life-body__footer__l {
      border-right: 1px solid;
    }
    .life-body__younger, .life-body__older {
      width: 20%;
    }
    .life-actions-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
    }
    .life-actions__tb{
      flex: 1;
    }
    .life-actions__tb td{
      padding: 2px 20px;
    }
    .life-actions__desc {
      width: 30%;
      padding: 0 20px;
    }
    .nature-container .nature__type {
      padding: 16px 10px;
    }
    .nature-container .nature__type p {
      text-indent: 2em;
    }
    .life-birthday {
      text-align: center; 
      padding: 10px;
    }
    .life-birthday select, .life-birthday input {
      font-size: 18px;
      padding: 1px 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="title">生命密码盘</div>
    <div class="life-birthday">
      <span>出生日期：</span>
      <input v-model="birthDay" @change="onBirthDayChange" />
      <select v-model="lunar" @change="onLunarChange">
        <option value="0">公历</option>
        <option value="1">农历</option>
      </select>
      <input type="button" value="计算" />
    </div>
    <div class="life-container">
      <!-- 41~60岁下属和子女 -->
      <div class="life-head">
        <div>代表下属、儿女，同时也代表41岁到60岁的经历状态</div>
        <div class="life-head-middle">
          <span class="num">{{ N }}</span>
        </div>
        <div class="life-head__sub">
          <span class="num">{{ L }}</span>
          <span class="num">{{ M }}</span>
        </div>
      </div>
      <div class="life-body">
        <!-- 20~40岁工作和朋友 -->
        <div class="life-body__younger">
          <div>
            <span class="num">{{ Q }}</span>
            <span> = </span>
            <span class="num">{{ O }}</span>
            <span class="num">{{ P }}</span>
          </div>
          <div>
            代表我们的工作、朋友，同时也代表21岁到40岁的经历状态
          </div>
        </div>
        <!-- 七魄 -->
        <div class="life-body__senven">
          <!-- 主性格 -->
          <div class="life-body__main">
            <div>主性格</div>
            <div>
              <span class="num star">{{ K }}</span>
            </div>
          </div>
          <div class="life-body__middle">
            <div class="life-body__middle__l">
              <span class="num">{{ G }}</span>
            </div>
            <div>
              <span class="num">{{ J }}</span>
            </div>
          </div>
          <div class="life-body__footer">
            <!-- 父亲基因 -->
            <div>
              <span class="num star">{{ E }}</span>
            </div>
            <div class="life-body__footer__l">
              <span class="num">{{ F }}</span>
            </div>
            <!-- 母亲基因 -->
            <div>
              <span class="num">{{ H }}</span>
            </div>
            <div>
              <span class="num star">{{ I }}</span>
            </div>
          </div>
        </div>
        <!-- 61岁之后家庭和晚年 -->
        <div class="life-body__older">
          <div>
            <span class="num">{{ R }}</span>
            <span class="num">{{ S }}</span>
            <span> = </span>
            <span class="num">{{ T }}</span>
          </div>
          <div>
            代表晚年、家庭，同时也代表61岁以后的经历状态。
          </div>
        </div>
      </div>
      <div class="life-footer">
        <div class="life-footer__birthday">
          <!-- 日期 -->
          <span class="birthnum">{{ D1 }}{{ D2 }}</span>
          <span class="birthnum">{{ C1 }}{{ C2 }}</span>
          <span class="birthnum">{{ A1 }}{{ A2 }}</span>
          <span class="birthnum">{{ B1 }}{{ B2 }}</span>
        </div>
        <div>阳历出生日期</div>
      </div>
    </div>
    <div class="life-actions-container">
      <table class="life-actions__tb" cellpadding="0" cellspacing="0" border="1">
        <tr>
          <th></th>
          <th>正面行为</th>
          <th>√/O</th>
          <th>负面行为</th>
          <th>√/O</th>
        </tr>
        <tr v-for="action in actions">
          <td>{{ action.id }}</td>
          <td>{{ action.positive }}</td>
          <td>{{ calcAction(action.id, true) }}</td>
          <td>{{ action.negative }}</td>
          <td>{{ calcAction(action.id) }}</td>
        </tr>
      </table>
      <div class="life-actions__desc">
        在三角形里有的数字，代表是你与生俱来就有的天赋，你要好好的培养并发挥。 如果没有的数字，看看外面有没有？ 如果外面有的话，你可以通过环境的培养加强这个能力。如果这个数字多了， 如有两个或三个或更多，代表这个能量在你身上会体现得过多了。 多了就成为了我们的弱点，需要加以修正。如果正负面都打"√ ”， 说的是你具备了这个数字的正负面能量。在运用时注意是否容易陷入过度的情况。
      </div>
    </div>
    <div class="nature-container">
      <div class="nature__type">
        <h2>九种性格</h2>
        <h3>1号创造与自信</h3>
        <h4>1号 好强性格的特征</h4>
        <p>1是阿拉伯数字的起始数字，也是一个代表着“开始”的数字。另外，1不仅代表着“开始”而且还蕴含着无限的创造力量。1号人是一个拥有很好的创造力量的人，他卓越的创造性使其成为一个非常独立且自信，但是他的独立会使其时常感到孤独，所以1号的人会需要一个自己的隐私空间，在和1号人相处的时候我们应该理解“隐秘”，即使是自己最亲密的人，我们也要懂得尊重他们所需要的空间。</p>
        <p>1号人是天生的领导者，他所拥有的自信，会帮助他在任何领域走向成功，但是有时太过自信会使其变得太自我。当身边的朋友或同事向其提出意见和建议时，他们不能认真听取和接受。所以1号人需要克服有时太过自我的毛病。数字1也是一个属于男性性格的数字，1号的人容易沉迷于一 样东西，特别是在生活或者工作上遇到麻烦时，他们就会非常沉迷于某种不良嗜好上（比如抽烟，酗酒，赌博等等），并且上瘾，所以1号人容易被催眠。应该时常提醒自己注意不要太过沉迷于负面的事物，必须掌握好一个度。</p>
        <p>1号人具有天生的领导才能，但是必须学会在和他人相处时，多听取别人的表达，不要太过于表现自己，不然会被孤立的感觉。只要正确发挥自己的领导力，必定能够获得成功。1号人往往高傲自大，给人感觉近乎自私。因此需要更谦虚，更低调一点，多尊重他人，为他人着想。同时，1号的人也需要信任他人，与他人合作，不要有个人英雄主义。就像一位成功的君主，懂得恩威并施赢得子民的敬爱，子民才会心甘情愿的服从他，拥戴他。1号人与人合作时，创意出一些做生意的新点子时，经常不是与人协商而是下命令式的替别人做决定，会令人觉得他们是剥夺他人的自由和独立。他们所谓合作，是两个独立的个体一起朝相同的目标努力，此时合伙人必须也是领导者，否则会被完全操控。1号人因自大而被孤立，常常却认为是别人待他们太苛刻，而他们是为了生存才会不得不出此下策。</p>
        <p>1 号人如果没有真正成长起来，他们只相信自己，当做决策时不听取别人的意见。他们信奉的是“不要信任他人”这样的想法只会让自己走入最糟糕的境地——遭人摒弃，最后只剩下自己可以依赖。拒绝信任他人便会落得这样的下场。1号的人必须学会与人相处，才会有幸福的生活可言。若是太自我，只会众叛亲离，最后变成孤伶伶的一个人。</p>
        <h4>人生目标</h4>
        <p>1号人必须忠于自己，接受自己想要金钱、情感等等所有层面都最求独立自主的梦想，并且努力让梦想成真。因为他们唯有达成了目标，才能发挥影响力。1号人必须走出一条能达到完全独立的路，最好早一点学到自己的人生功课，这样将能在拥有独立的同时也享有快乐。</p>
        <h4>1号的名人</h4>
        <p>马丁路德(美国黑人领袖)、戈尔巴乔夫(前苏联总书记)、云妮候斯顿（美国女歌星）、卡洛琳公主（摩纳哥）、哈里森福特（美国演员）。</p>
      </div>
      <div class="nature__type">
        <h3>2号沟通合作</h3>
        <h4>2号 温和性格的特征</h4>
        <p>数字2代表的含义是沟通能力。另外2号人也会面对很多选择，一个人在面对很多选择的时候就会变得犹豫不决，所以2号的人应该时常提醒自己要克服犹豫的习惯。数字2也是一个属于女性性格的数字，温和与耐性是2号人的优点，当然2号的男性就会显得比较理性和温和。2号人也是最易被影响的人，尤其是女性，固定的生活模式一旦被打破就难以独立。当一个人的生命数字出现多个2的时候，有时他反而不太喜欢说话了，因为他的滔滔不绝，夸夸其谈甚至是自言自语……会让别人觉得反感，不能理解也不能接受。这些人多部分人是因为受到童年的影响而不爱说话，但是他们潜在还是一个表达沟通能力很强的人。</p>
        <p>2号人有很强的依赖性心理主要原因是缺乏自信心和独立感。具有依赖心理的人始终要求别人的帮助，处事优柔寡断，愿意依靠强者，听从摆布，没有自己的主张，很少去争取属于自己的机会，如果得不到及时的疏导，发展下去可能会形成依赖型人格，也容易引起焦虑，恐惧。</p>
        <p>2号人比较依赖别人，不喜独处，喜欢总是有同伴围绕在身边，喜欢团体活动。如果要去不喜欢的地方，他也是因为不要让自己寂寞而前往。他们大多时候不在乎从事的是什么活动，只要不孤单就好，并且在团队活动的时候能够完全展现出自我的个性与才华。2号人会显得要求太多而造成别人的负担，甚至惹人生厌，这种感觉很不好，就像在利用别人，如果失去利用价值，立即掉头离去，寻找下一个可以依赖的对象，这样当然容易得罪人，无意中会树立不少的敌人。</p>
        <p>2号人必须学会独立，自己的梦想必须靠自己去实现，不能什么都期待别人。把希望寄托在别人身上，这永远是不可靠的，更不要拿别人做失败的借口。毕竟自己不是不能做，如果能够从根本上去除自我的依赖性，那么展现出来的将会是一个超强自我。2号人的成功与幸福系之于独立而又不是依靠他人帮助，这点和1号人正好相反。2号人只要用上自己的能力加上他人的帮助便会轻松的获得成功。</p>
        <h4>人生目标</h4>
        <p>2号人必须营造以坚定顽固的感情关系为基础的人生。他们必须找到一位愿意像他们一样乐于分享的对象，而且永远能随时在侧；这个对象就像是他们的镜中映像。2号人也必须找到适合的职业，一份容许他们自由批评并改善的工作。2号人必须感觉到自己和家庭、社会、工作及朋友都紧密结合；这代表他们不该独处，不能与社会活动、人群和爱情保持距离，而必须密切参与人群活动，因为2号人要靠这些才能得到成就。假如所面对的是不健康的情况，他们就会被迫学习人生的课题，才能谈得上健康。</p>
        <h4>2号的名人</h4>
        <p>麦当娜（美国女歌手）、查里斯王子（英国）、黛安娜罗斯（美国女歌手）、克林顿（美国总统）、朗奴列根（美国已故总统）、莫札特（音乐家）。</p>
      </div>
      <div class="nature__type">
        <h3>3号行动表达</h3>
        <h4>3号 积极性格的特征</h4>
        <p>数字3代表的含义即是快速及行动。3号人是一个拥有极强行动力的人，3号人在行动的时候，如果速度快，会让他们显得很急躁，并变得比较情绪化和坏脾气。所以3号人应该时常提醒自己不要急躁，要按照步骤一步一步的行动。数字3是一个属于男性性格的数字，3号的人容易冲动，任情且不专情。3号人有很好的表达能力，但是他们在表达时，却时常不经大脑，因而造成乱说话或说错话。他们做事和说话都会极度夸张，一点小事情就会很紧张，同时亦喜欢抱怨，怀疑自己，很容易愤怒。</p>
        <p>3号的人需要学习的课程是如何面对现实。不要什么事情要求符合自己的标准。尽管虽然他们很有创意和思想，却生活在自己的空间里，不愿面对事实。3号人有时候的举动就像被惯坏的小孩，我行我素，丝毫不让步。表面上他们社交能力都很强，和别人都谈得来，但却无法让人了解到他们内心真正的感受。</p>
        <p>3号的人对自己的要求很高，故而忍受不了自己的缺点，其实只要把标准降低一些就好了。但是，就算这么简单的事，他们也很难做到。他们能够正视这些问题，发挥自己的特征长，便能轻易找到渴望已久的成功与幸福。3号人的烦恼来源于创意的天赋。除非能表现创意，并且每一天都发挥自己的创造力，否则就会觉得气馁。创造力未获得宣泄或发挥，生活就会感觉一团糟，甚至发疯。如果没有把现实的感受传达出来（用言语或其它运用创意的方式），3号人会非常刁蛮任性且脾气暴躁。3号人是一个情欲很强的人，他们精力充沛，刺激与乐观也是他们的性格。</p>
        <h4>人生目标</h4>
        <p>3号人很像个被宠坏的小孩，哭闹着非要买街上橱里摆设的糖果，如果得不到收手，他们就会耍脾气，然而一旦他们得到了，也尝试过了。发现也许不喜欢它，但好歹不会在哭闹。所以，3号人有梦想，需要积极进取，并且竭尽所能去实现它。</p>
        <h4>3号的名人</h4>
        <p>甘地（印度民族运动领袖）</p>
      </div>
      <div class="nature__type">
        <h3>4号策划程序</h3>
        <h4>4号 谨慎性格的特征</h4>
        <p>4号人非常聪明，喜欢策划，善于组织，求知欲望强烈，做事都会按部就班执行。4号人同样也是保守型的人，他们总是在理性与感性间求取平衡。4号人缺乏安全感，当他们在感情上得不到安全感时，他们就会到处寻找可以稳定自己内心的浮萍，如事业，一旦找到肯定，4号人就会紧抓不放，全心投入。缺乏想象力，不合乎逻辑的，天马行空的事对4号人来说是不可能的，所以和4号的人说话时要说重点和事实，不能夸大，4号的人说话比较单刀直入，时常都会无意间得罪人。</p>
        <p>4号的人比较吝啬，也比较守次序。常常对周围的事物思考得很周全，善于三思而后行，这种人责任心比较强，办事比较精明，做事务实，不鲁莽，在关键时善于自省，不脱离别人，也不找麻烦，但这种性格的人缺陷也就在于考虑太多过于细微，不敢去冒险，常会失去很多机会。他们善于组织，善于积累，可轻易在物质世界中获得安全感，很擅长使生活的物质层面稳定，更愿意选择没有风险和稳定的工作和生活方式。但在内心仍然感觉到不是真正的安全，必须想办法，让内心世界充实富足起来，才会消除惶恐不安。</p>
        <p>4号的人不像3号人那样明确的知道如何会有安全感和幸福，他们不明白安全感该何处去找，终日寻寻觅觅。如果他们自认找到了，不论是来自爱情也好，职业和宗教信仰也罢，他们都会全力去维护。对于4号人来说，如果失去了安全感，他们愿牺牲一切换回安定的生活。4号人对自己无法控制的事感到害怕。假如他们恐惧，悲观，又心胸狭隘的话，会是雪上加霜，更没有安全感。</p>
        <p>4号的人若从精神的角度看人生，了解生命是一个不断变化的过程，接纳生死看淡人生，这样他们能减轻对安全感和风险产生的恐惧。他们可尝试着改变，视改变为契机，利用天分重建稳定并追求更进一步的成长。</p>
        <h4>人生目标</h4>
        <p>4号人一辈子都要有安全感，这包括经济面与情感面的安全感，4号人需要一直有人在旁作伴，并且维持长久的爱情。4号人常常是家里人的重心，而家人也都知道他们是可信靠的。4号人只要觉得感情上有了安全感，就会把焦点移到确保经济上的安全无虞，但这很自然会造成感情关系的压力，4号人假如想拥有真正的快乐，必须在营造外在安全感的同时，也建立自己内心的安全感，这会有助于他们把改变看作是迈向更好的人生的必经之路。</p>
        <h4>4号的名人</h4>
        <p>戴卓尔夫人（英国前首相）、阿诺舒华辛力加（美国电影明星）、佛洛伊德（奥国精神分析学家）。</p>
      </div>
      <div class="nature__type">
        <h3>5号方向与规范</h3>
        <h4>5号 方向性格的特征</h4>
        <p>5号的人喜欢无拘无束，自由自在的生活。5号的人非常聪明，于是乎对自己和别人要求都很高，几乎到了任何事情任何人都十分挑剔，当然，这种挑剔并不是恶意的。5号也代表方向，所以5号的人方向感很强，只要提出一个头，他就可以看到结果，方向感强的人很固执的人，尤其是多5的人，更加固执。</p>
        <p>5号的人做事要有绝对的权利，如果干涉他，给他多少钱他也不干，5号人也很幽默，充满趣味，也是朝气蓬勃的而且很有远见，容易被启发，同样5号人也很冲动，易怒情绪化，喜欢猜疑。5号人会有自残倾向，所以要想学会看开。5号的人是个比较怪的人，他们不是人上人就是人下人。</p>
        <p>5号的人对朋友可以说绝对够义气，给朋友的感觉就是对人热情，豪爽，力所能及的事情就会鼎力相助，毫不计较。由于5号的人，过于坦率直接，常常想到什么就说什么，一不小心就会中伤他人，不了解的人往往因此而离开他，对此不要太介意，其实5号人心地善良，对交心的朋友相当的信任，对家人更加爱护有加。5号的人有点天真的感觉，经常认为没有人会伤害自己，就像未识世途险恶，一旦要面对出现的一些残酷现实，会变得不知所措，甚至丧失信心。5号的人还喜欢冒险，尝试各种新的事物，爱好旅游，常常会沉醉于自由自在的生活享受中，5号人缺乏勇气，不大愿意（应该说不大有勇气）放弃自由，因此不愿意受到限制，也会因此错失很多机会。太过于自由，放纵自己，并不是件好事，其实5号的人自己也知道，但是，就是没有克服勇气，克服这一点，常常无法控制自己。千万记住，你不能什么都要，到头来必定要有取舍，要知道，其实放弃的同时也有获取，5号的人最喜欢学习的人生课题即是拿出勇气，敢于放弃，利用自我的优势来创造自己美好的人生。</p>
        <h4>人生目标</h4>
        <p>很多5号的人生在追求自己的自由，其中又以工作为一大重点，因为工作可以带来收入，让他们有机会每天都享有一些自由的时间。虽然5号人善于谈成生意，而他们也觉得做生意很有趣，但5号人很少愿意担当经营事业的重大责任。另外，5号人是依赖心较重的人，所以他们的爱情关系比较像朋友而不是情侣。5号人经常需要阅读、聆听、品尝并学习新事物，这些心智上的养分可以刺激5号人的精神生活，成为推动他们完成人生计划的重要勇气来源。</p>
        <h4>5号的名人</h4>
        <p>林肯（美国第十六任总统）、希特拉（纳粹党领袖，曾任德国总理）、阿加斯（美国网球明星）、马龙白兰度（美国名演员）、梵谷（荷兰名画家）。</p>
      </div>
      <div class="nature__type">
        <h3>6号忠诚远见</h3>
        <h4>6号 忠诚的性格特征</h4>
        <p>6号男人是大多数女人所喜欢的，他们非常注重家庭生活，虽然6号人与4号人都愿意按部就班的做事，但是6好的人还是非常的性急。6号的人的第六感特强，女性在情感方面尤其的敏感。6号人喜欢立刻知道最后的结果，他们读书时会先翻到后面的结果，或者为了赶快解决发生的问题而吃饭，就像某些打高尔夫球的人，只重视打球的部分，而忘了去欣赏挥杆之间的散步乐趣。而且6号人首先应该知道，爱要有一定的限度，到什么地步就是过火了。同样的，帮助别人要知道适可而止，更何况，有些时候是不应该施以援手的。另一个重点就是要好好照顾一下自己。6号人害怕比较，却又喜欢跟人比较，他们对自己批评太过严厉，以至于别人对自己的评价也感到非常敏感，6号的人是完美型的人，异常挑剔一旦注意到对方的缺点，会沮丧不已。</p>
        <p>6号人一开始只看见对方或者自己美好的一面，往往无法接受自己或者别人不完美的地方。这就是6号的难题所在。老实说，跟6号人生活不是件容易的事情，因为在他们的眼里，没有一个是完美的。6号人天生就会被理想主义吸引，同时又对任何人的缺点都非常敏感，容易迷失在琐事中；举例来说，他们就容易在一场优美的乐章中找到一个微小的错误，而感到忧郁。即使他们做了20件好事，但只要犯了一次错，就会为那个错误困扰不已。当他们看一部好的电影，看完之后因为其中一句不是很恰当的对话而耿耿于怀。他们参观博物馆，只记得一副低于标准的画；他们考试的成绩不错，却因为其中有一题来不及作答而难过。这是他们游戏的规则，他们永远只看到半空的水瓶，而不是看到半满的水瓶。他们用高标准去评断自己。他们永远都会感受到要变成最好的压力。有时候也会因为怕露出缺点而避开一些活动。</p>
        <p>6号的人择友需要谨慎，选择一些心理健康、充满自信、性格乐观、人生目标明确、努力进取等各种与自己性格相近、兴趣相投并且谈得来的人做朋友。如果他们关爱的人，无法用同样的爱回报给他们，他们就会很难受，经常受到心灵的折磨。6号的人关注力在别人，不懂拒绝别人，并不知道自己真正的问题是应该多珍惜自己。因此多把自己当做他人来照顾，爱别人的同时学会照顾自己，这样幸福之钥就在自己手中</p>
        <h4>人生目标</h4>
        <p>6号人一生都想要修理东西、解决问题及鼓励别人开创美好人生。因此他们人生目标应该是全力发挥这些天赋，最好是经由职场工作、社会志愿工作或者是宗教组织来付出。而他们的挑战永远是：别热心过头。假如愿意超出合理范围多付出一些，也要先做好心理准备，别人不见得会感激他们的付出。越早认识到此并落实到生活中，就越能创造健康快乐的人生。</p>
        <h4>6号的名人</h4>
        <p>尼克逊（美国已故前总统）、史提芬温达（美国盲人名歌手）、梅丽史翠普（美国名演员）、史提芬史匹堡（美国著名电影制片导演）。</p>
      </div>
      <div class="nature__type">
        <h3>7号博学坦诚</h3>
        <h4>7号 人缘-世故性格特征</h4>
        <p>7号是世故型性格的人，顾名思义是善于交际，处事圆滑，非常有人缘，朋友多的人，他们精明能干，在人际关系上左右逢源，这种性格的人大多是权力型的人，他们一旦获得了权力，行为方式与指导思想就比较谨慎，所以不会是开拓型领导，他们是博学的，天生懂得提出和分析问题，如果不利用这种天赋就会觉得非常沮丧，如果他们寻找到真理的时候却又不敢面对现实，生活就会变得虚伪不真实，永远没有幸福可言。</p>
        <p>7号人分析事情的时候觉得一切尽在掌握之中，但是一旦确定目标之后他们又会变得很沮丧，因为他们的心理明白目标达成之后并不会就此快乐，还有更多随之而来的问题需要解决，因此又得再设定更多的新目标，再度追寻更多的答案和真理。计划越接近完成阶段他们越闷闷不乐，心知真理的追求是永无止境的他们永远不敢说自己了解什么，他们的人生就是在不断追求真理，一停下来歇脚就会感到挫败郁闷，成功不表示结束，恰恰相反，成功代表着新追求的开始。7号的人是博爱与包容，付出爱然后从爱自己的配偶、孩子、亲人、朋友中得到乐趣，7号人都很有正义感，朋友为先，活跃性的交际活动，朋友和深交众多，如果是没有7的人，他身边的朋友与贵人通常都不长久，来的少去的快。7号的人在形式上会比较迟缓冷淡的，时常行动都慢人一拍，行动力弱也比较害羞。7号人常质疑一切，会去和别人探寻真理。</p>
        <p>7号的人应该学会接受事实、适应生活，不要假装一无所知加以逃避，有时候7号人发生重大问题如离婚、专业、移民等，因为恐惧害怕接受事情，通常都选择逃避，7号的人盼望生活稳定成功，由于他们答应了太多人但无法满足到每一个人，因此会让人认为7号人放鸽子。7号人直觉很敏感，他们知道自己若是改变了依然无法满足，因为直觉告诉他们日后还有更多的真理等着他们，未来的真理需要他们改变更多，既然改变还会有问题，不如保持现状。7号人的分析能力很强，为了使现状维持稳定必须控制他人，会出现个性的阴暗面，懒惰情绪化自私蛮横，他们不管做什么都无法得到满足，不知道自己到底想要的是什么，因此始终都郁郁寡欢，7号人必须学会不在乎世俗的眼光，放弃控制他人的想法，勇于改变生活，改变才能获得更多，生活才会幸福，7号人必须接受自己的个性如此，不要再恐怕改变，当确认真理就在眼前，唯有学习和改变才能获得幸福。</p>
        <h4>人生目标</h4>
        <p>7号人应该保持好奇心和求知欲，不断分析和质疑周边的大小事，他们应该保持开放的心胸，用于尝试新事物认识新朋友，与人分享新观念，并在心灵层次修持进取，许多7号人穷其一生想不透自己的人生到底出了什么差错，总觉得自己被环境困住，始终对现状感到无奈。想要获得快乐踏实，7号人必须先接受事实真相面对问题，采取适切的行动解决问题。</p>
        <h4>7号的名人</h4>
        <p>戴安娜王妃（已故英国储妃）、玛丽莲梦露（已故美国性感明星）、邱吉尔（英国首相、政治家）、约翰甘乃迪（美国已故前总统）。</p>
      </div>
      <div class="nature__type">
        <h3>8号责任与权力</h3>
        <h4>8号 责任- 理智型性格</h4>
        <p>8号的人是一个责任型的人，他们一旦答应了人，就一定会去完成，不然就会坐立难安。如果有多个8的人，就会有很大的压力，因为他们都把别人的事情当自己的事情来处理，一旦遇到问题不能解决就会烦躁，耿耿于怀。8号人是个大慈善家、也是个野心家、一旦少年得志，会执迷于金钱、权利、专制、独裁。发动世界大战的人物大多是8号的野心家，8号人大多数是大器晚成的，经过岁月磨练的。8号人的正面是亲善的、有影响力的、乐于帮助人、有好名声、责任感重、最有企业家潜质的人。</p>
        <p>8号做人要靠两方面：一是你必须具备良好的德行政治的品格、善良、真诚、诚实的本性，这是安身立命之本；另一方面是要有端正的态度，要勤恳，透过自己不懈的努力做出成绩来。8号人或许会因为一时的不诚实而获得相当多的好处，但是冥冥之中会有很多不可思议的事情让你头痛，比如说生活的其他方面或这或那会因此出现各种各样的问题，要么就是自己身体不适，失眠、头痛、感冒发烧等等，要么就是感情生活出现问题，和另一半吵嘴，自己或对方有外遇，甚至爱情触礁，感情破裂，要么就是破财，损失惨重。</p>
        <p>8号的人应该彻头彻尾的诚实，才能获得平稳、安逸、真正属于自己的幸福。像作证明题一样，8号人的人生需要验证，需要各种各样的论据论点来证明。8号不能被人左右，必须守住自己的人生准则，只有这样，才能证明8号人真正的幸福掌握在自己手里。可是8号人总是要应验一句话；吃一堑，长一智。总是经历不断的失败，吸取教训才能成功。就像当8号成为老实可靠的模范生，就说明他们已经学到教训。8号人成熟以后会给人双面的感觉，是生意人也是圣人，很实际又很超脱。如果他们健康状态不佳、人际关系不良、事业不顺或者有其他困难，证明他们对人或对己不如实，他还需要努力学习对人对己都要诚实的人生课题。</p>
        <h4>人生目标</h4>
        <p>8号人对于具有潜力的事物触觉敏锐，能立刻察觉，并认为自己有责任把它琢磨成器。问题会发生在万一他们太想要成功而开始变得不诚实——这么一来，事情就开始显露败相；如果他们够幸运，将会有机会重新来过。8号人的人生目标应该是发展自我，而非发展他人。8号人喜欢任何个人成长及潜能发展的事物，如果他们能把这种心思专注于发展自己的某项才华，自己就能功成名就。</p>
        <h4>8号的名人</h4>
        <p>伊莉莎伯泰莱（美国名演员）、芭芭拉史翠珊（美国名歌手，名电影制片演员）、南西列根（美国前第一夫人）、布殊夫人（美国前第一夫人）、希拉莉克林顿（美国第一夫人，著名律师）、毕卡索（名画家）。</p>
      </div>
      <div class="nature__type">
        <h3>9号正直与智慧</h3>
        <h4>9号 成功——活泼豪放型性格</h4>
        <p>9号的人是一个全面型的人，他拥有1至8号的性格，情感丰富，洞察力强，易受感动，他们说话与做事都会被人认同，而且机会特别多，也正因为这样9号的人会比较贪心，什么都想要。他们需要学会专一，不然到头来会两头空。他们学习东西特别快，也什么都想学，但是一旦学会一些就不想继续，所以9号的人什么都会。9号人也是很健谈，任何话题与人谈的很投机，初识的人会认为他是那个行业的专家，其实并不精通，除非是他的专业。9号的人个性开朗，机灵活泼，口才好，人缘佳，见人说人话，见鬼说鬼话。足智多谋、反应灵敏，很善于交际。9号人的最大能耐是随机应变，哪怕是临时问一些问题，也不会让人觉得冷场。通常是多才多艺，但比较敏感，略带神经质，喜欢照顾别人，常常竭尽所能为别人服务。但是他们的梦想和目标经常不切实际，有点脱离现实。充满生命力，喜欢忙碌的生活，对时常有着敏锐的感觉。</p>
        <p>9号的人是任何人都渴望得到最好的朋友，他个人的生活与高尚原则达成一致，有深度与智慧，成为大家的典范，他也是生意上的策划者，激发创意和多方面的天分，在公众的场合上，他通常是领头羊。在感情上，是属于多情、浪漫、爱梦想。</p>
        <p>9号人不要总是停留在自我空想的状态下，9号人有很多机会、诱惑，如果经不住考验，什么都想要结果他什么也得不到，贪婪会使自己功亏一篑。如果9号的人得不到别人的认同，不能将他们计划的东西实现，他会觉得人生即悲惨又灰心，没有生活动力，做什么都没有精神，然后又继续回到空想的状态。9号的人永远不要相信天上会掉下馅饼，财富会送到自己手上，机会不会自己送上门来，能抓住机会的只有自己，不要到头来，空想依然是空想，一事无成。</p>
        <p>9号的人对事情常常是三分钟热情，善变，缺乏个人处事的原则，过于神经质、做事情不够投入，过于圆滑，容易紧张，意志不够坚定，让人觉得不可靠、疑心重。9号人的人生课题是要脚踏实地，甘心付出不求回报。</p>
        <h4>人生目标</h4>
        <p>9号人是天生的人道主义者。他们觉得帮助别人生活得更好乃是自己的天赋。然而9号人的帮忙如果仅止于一时的疗伤止痛，那并没有解决问题，应该从精神面、心理面启发别人，帮忙持平伤痛，去除压迫。</p>
      </div>
    </div>
  </div>
  <!-- 先引入 Vue -->
  <script src="vue.js"></script>
  <script src="lunar.js"></script>
  <script>
    window.vu = new Vue({
      el: '#app',
      data() {
        return {
          birthDay: "",
          lunar: "0",
          actions: [
            {
              id: 1,
              positive: "领导",
              negative: "自我为中心"
            },
            {
              id: 2,
              positive: "沟通",
              negative: "犹豫不决"
            },
            {
              id: 3,
              positive: "行动",
              negative: "冲动"
            },
            {
              id: 4,
              positive: "策划",
              negative: "心直口快"
            },
            {
              id: 5,
              positive: "方向",
              negative: "固执"
            },
            {
              id: 6,
              positive: "财富，智慧",
              negative: "胆小"
            },
            {
              id: 7,
              positive: "人缘，贵人",
              negative: "缓慢"
            },
            {
              id: 8,
              positive: "责任",
              negative: "压力"
            },
            {
              id: 9,
              positive: "机会，认同，成功",
              negative: "贪心"
            }
          ],
          A1: 0,
          A2: 0,
          B1: 0,
          B2: 0,
          C1: 0,
          C2: 0,
          D1: 0,
          D2: 0
        }
      },
      computed: {
        E() {
          return this.calcSum(this.D1 + this.D2)
        },
        F() {
          return this.calcSum(this.C1 + this.C2)
        },
        H() {
          return this.calcSum(this.A1 + this.A2)
        },
        I() {
          return this.calcSum(this.B1 + this.B2)
        },
        G() {
          return this.calcSum(this.E + this.F)
        },
        J() {
          return this.calcSum(this.H + this.I)
        },
        K() {
          return this.calcSum(this.G + this.J)
        },
        L() {
          return this.calcSum(this.J + this.K)
        },
        M() {
          return this.calcSum(this.G + this.K)
        },
        N() {
          return this.calcSum(this.L + this.M)
        },
        O() {
          return this.calcSum(this.E + this.G)
        },
        P() {
          return this.calcSum(this.F + this.G)
        },
        Q() {
          return this.calcSum(this.O + this.P)
        },
        R() {
          return this.calcSum(this.H + this.J)
        },
        S() {
          return this.calcSum(this.I + this.J)
        },
        T() {
          return this.calcSum(this.R + this.S)
        },
      },
      mounted() {
        this.birthDay = "19670607";//19550224
        this.splitBirthDay(this.birthDay)
      },
      methods: {
        onBirthDayChange() {
          if (this.birthDay.length == 8) {
            let birthDay = this.birthDay
            if (this.lunar == 1) {
              let year = Number(birthDay.substring(0, 4))
              let month = Number(birthDay.substring(4, 6))
              let day = Number(birthDay.substring(6, 8))
              birthDay = Lunar.toSolar(year, month, day)
              birthDay = birthDay[0] + birthDay.slice(1, 3).map(item => {
                let n = "00" + item
                return n.substring(n.length - 2)
              }).join("")
            }
            this.splitBirthDay(birthDay)
          }
        },
        onLunarChange() {
          this.onBirthDayChange()
        },
        calcSum(value) {
          return Number(String(value).split('').reduce((pre, next) => Number(pre) + Number(next)))
        },
        splitBirthDay(value) {
          ['A', 'B', 'C', 'D'].forEach((item, index) => {
            this[item + 1] = Number(value.substring(index * 2, index * 2 + 1))
            this[item + 2] = Number(value.substring(index * 2 + 1, index * 2 + 2))
          })
        },
        /**
         * 计算正面行为和负面行为，三角形内的数字：E、F、G、H、I、J、K
         * 包含一个的话正面行为返回√，包含多个的话负面行为返回√，不包含的话正面行为返回O，负面行为返回空
         * 三角形三个顶点位置为星位密码，星位：E、I、K，星位的数字具有负面行为
         * 如果负面行为多余正面行为，则只需要√负面行为
         */
        calcAction(num, positive) {
          let list = "EFGHIJK".split("").map(item => this[item])
          let containsCount = list.filter(item => item == num).length
          containsCount += list.filter((item, index) => item == num && (index == 0 || index == 4 || index == 6)).length
          if (positive) {
            switch (containsCount) {
              case 0:
                return "O"
              case 1:
              case 2:
                return "√"
              default:
                return ""
            }
          } else {
            return containsCount > 1 ? "√" : "";
          }
        }
      }
    })
  </script>
</body>
</html>
